<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thư viện</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>

<body>

<nav th:fragment="header(name)" class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f3844; color: white;">
    <a class="navbar-brand">Trường Đại học Xây Dựng Hà Nội</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/docgia/list-book(name=${name})}">Sách</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/docgia/list-pm(name=${name})}">Lịch sử mượn</a>
            </li>
        </ul>

        <form th:action="@{/docgia/searchBook(name=${name},keyword=${keyword})}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="keyword" id="keyword" type="text" placeholder="Search"
                   aria-label="Tên sách, thể loại hoặc tên tác giả" th:value="${keyword}">
            <input type="hidden" name="name" th:value="${name}"/>
            <input class="btn btn-outline-success active my-2 my-sm-0" type="submit" value="Search"/>
        </form>

        <ul class="navbar-nav">
            <li class="nav-item">
                <p class="nav-link" id="profile-link" th:text="${name}">Thông tin </p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" id="logout-link">Đăng xuất</a>
            </li>
        </ul>
    </div>
</nav>
<div th:fragment="pop-up" id="popup" class="modal" style="display: none" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="successPopupLabel"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                <h3></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>